.image-grid img {
  object-fit: cover;
  height: 200px;
}

.control-ui {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert {
  z-index: 10;
  background-color: #ffffff;
}
