{% extends "base.html" %}

{% block title %} Edit {{ pet.name }} - Adopt a Pet {% endblock %}

{% block body %}
  <h1 class="text-center mb-4">Edit {{ pet.name }}</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {% if field.widget.input_type == 'checkbox' %}
          <div class="form-check mt-3">
            {{ field.label }} {{ field(class_="form-check-input") }}
          </div>
        {% else %}
          {{ field.label(class_="mt-3") }} {{ field(class_="form-control") }}
        {% endif %}
        {% for err in field.errors %}
          <small class="form-text text-danger">{{ err }}</small>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="mt-5">
      <button class="btn btn-success">Save</button>
      <a href="/" class="btn btn-outline-secondary">Go Back</a>
    </div>
  </form>
{% endblock %}
