{% extends "base.html" %} {% block title %}New Post - Blogly{% endblock %} {%
block body %}
<h1>Create New Post</h1>
<form class="form" action="/users/{{ user_id }}/new-post" method="POST">
  <label for="title">Post Title:</label>
  <input type="text" id="title" name="title" placeholder="Title" />

  <label for="content">Post Content:</label>
  <textarea
    rows="5"
    cols="33"
    id="content"
    name="content"
    placeholder="Content"
  ></textarea>

  <label>Select Tags:</label>
  {% for tag in tags %}
  <div class="checkbox-group">
    <input
      type="checkbox"
      id="{{ tag.name }}_tag"
      name="tags"
      value="{{ tag.id }}"
    />
    <label for="{{ tag.name }}_tag">{{ tag.name }}</label>
  </div>
  {% endfor %}

  <button class="btn" type="submit">Create Post</button>
</form>
{% endblock %}
