{% extends "base.html" %} {% block title %}New User - Blogly{% endblock %} {%
block body %}
<h2>Edit {{ user.first_name }}</h2>
<form class="form" action="/edit-user/{{ user.id }}" method="POST">
  <label for="first_name">First Name:</label>
  <input
    type="text"
    id="first_name"
    name="first_name"
    placeholder="{{ user.first_name }}"
  />

  <label for="last_name">Last Name:</label>
  <input
    type="text"
    id="last_name"
    name="last_name"
    placeholder="{{ user.last_name }}"
  />

  <label for="image_url">Profile Image URL:</label>
  <input
    type="url"
    id="image_url"
    name="image_url"
    placeholder="{{ user.image_url }}"
  />

  <button class="btn" type="submit">Edit User</button>
</form>

{% endblock %}
